@font-face {
  font-family: "Figtree-Light";
  src: url("fonts/Figtree-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: rgba(0, 0, 0, 0.8);
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.foot_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-height: 460px) {
  .foot_container {
    margin-top: 5px;
  }
}

.sitename {
  padding-top: 10px;
}

@media (max-height: 620px) {
  .sitename {
    padding-top: 2px;
  }
}

@media (max-height: 540px) {
  .sitename {
    padding-top: 0px;
    margin-top: 10px;
  }
}

/* .element {
}
 */
header {
  display: flex;
  box-shadow: 1px -4px 10px 0;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #082129;
  
}

@media (max-height: 620px) {
  header {
    display: flex;
    box-shadow: 1px -4px 10px 0;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    
  }
}

@media (max-height: 540px) {
  header {
    display: flex;
    box-shadow: 1px -4px 10px 0;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    
  }
}

@media (max-height: 460px) {
  header {
    display: flex;
    box-shadow: 1px -4px 10px 0;
    height: 40px;
    top: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    
  }
}

h1 {
  color: whitesmoke;
  font-family: Figtree-Light;
}

@media (max-height: 670px) or (max-width: 640px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-height: 540px) {
  h1 {
    font-size: 25px;
  }
}

@media (max-height: 460px) {
  h1 {
    font-size: 15px;
  }
}

.logo-pos {
  position: relative;
  margin-top: 35px;
  margin-left: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: left;
}

@media (max-height: 588px) {
  .logo-pos {
    position: relative;
    margin-top: 35px;
    margin-left: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
  }
}

@media (max-height: 540px) {
  .logo-pos {
    position: relative;
    margin-top: 1px;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: left;
  }
}

.logo-size {
  margin-left: 35px;
  width: 64px;
  height: 64px;
  border-radius: 0px;
}

@media (max-height: 670px) or (max-width: 640px) {
  .logo-size {
    margin-left: 35px;
    width: 50px;
    height: 50px;
    border-radius: 0px;
  }
}

@media (max-height: 588px) {
  .logo-size {
    margin-left: 35px;
    width: 50px;
    height: 50px;
    border-radius: 0px;
  }
}

@media (max-height: 540px) {
  .logo-size {
    margin-left: 35px;
    width: 40px;
    height: 40px;
    border-radius: 0px;
  }
}

@media (max-height: 460px) {
  .logo-size {
    margin-top: 5px;
    margin-left: 35px;
    width: 30px;
    height: 30px;
    border-radius: 0px;
  }
}

@media (max-height: 365px) {
  .logo-size {
    width: 50px;
    height: 50px;
    border-radius: 0px;
    margin-top: 20px;
    padding-top: 50px;
    margin-left: 70px;
  }
}


@media (max-height: 400px) {
  .logo-size {
    display: none;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  
}

@media (max-height: 640px) {
  .gallery {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-top: 100px;
    margin-bottom: 100px;
    
  }
}

@media (max-height: 420px) {
  .gallery {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    
  }
}

.basicposition {
  
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-height: 470px) {
  .basicposition {    
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.arrowposition_right {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 33px;
  right: 90px;
  
}

@media (max-height: 760px) {
  .arrowposition_right {
    width: 30px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 17px;
    right: 90px;
    
  }
}

@media (max-height: 640px) {
  .arrowposition_right {
    width: 30px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 17px;
    right: 90px;
    
  }
}

@media (max-height: 580px) {
  .arrowposition_right {
    width: 25px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 17px;
    right: 68px;
    
  }
}

@media (max-height: 450px) {
  .arrowposition_right {
    width: 25px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 10px;
    right: 25px;
    
  }
}

@media (max-width: 380px) {
  .arrowposition_right {
    width: 25px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 17px;
    right: 40px;
    
  }
}

@media (max-width: 380px) and (max-height: 500px) {
  .arrowposition_right {
    width: 25px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 5px;
    right: 40px;
    
  }
}

@media (min-height: 0px) and (max-height: 380px) {
  .arrowposition_right {
    width: 25px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 80px;
    right: 15px;
    
  }
}

.arrowposition_left {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: flex-end;
  bottom: 30px;
  left: 90px;
  
}

@media (max-height: 760px) {
  .arrowposition_left {
    width: 30px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 17px;
    left: 90px;
    
  }
}

@media (max-height: 640px) {
  .arrowposition_left {
    width: 30px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 20px;
    left: 90px;
    
  }
}

@media (max-height: 580px) {
  .arrowposition_left {
    width: 25px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 18px;
    left: 60px;
    
  }
}

@media (max-height: 450px) {
  .arrowposition_left {
    width: 25px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 8px;
    left: 25px;
    
  }
}

@media (max-height: 380px) {
  .arrowposition_left {
    width: 25px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 80px;
    left: 15px;
    
  }
}

@media (max-width: 380px) {
  .arrowposition_left {
    width: 25px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 17px;
    left: 40px;
    
  }
}

@media (max-height: 500px) and (min-height: 300px) and (max-width: 380px) and (min-width: 50px) {
  .arrowposition_left {
    width: 25px;
    display: flex;
    position: absolute;
    justify-content: flex-end;
    align-items: flex-end;
    bottom: 5px;
    left: 40px;
    
  }
}

.smallphoto {
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
  object-fit: cover;
}

@media (max-height: 720px) {
  .smallphoto {
    width: 130px;
    height: 130px;
    margin: 10px;
    cursor: pointer;
  }
}

@media (max-height: 420px) {
  .smallphoto {
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
  }
}

@media (max-height: 720px) {
  .smallphoto:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.dnone {
  display: none;
}

.bigphoto {
  position: relative;
  top: 0;
  left: 0;
  width: 360px;
  height: 65vh;
  max-height: 700px; /*neu */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b313f;
  border-radius: 15px;
  
}

@media (max-height: 720px) {
  .bigphoto {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    height: 65vh;
    max-height: 700px; /*neu */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b313f;
    border-radius: 15px;
    
    padding-bottom: 10px;
  }
}

@media (max-height: 640px) {
  .bigphoto {
    position: relative;
    top: 0;
    left: 0;
    width: 360px;
    height: 63vh;
    max-height: 670px; /*neu */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b313f;
    border-radius: 15px;
    
    padding-bottom: 10px;
  }
}

@media (max-height: 580px) {
  .bigphoto {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b313f;
    border-radius: 15px;
    
    padding-bottom: 10px;
  }
}

@media (max-height: 450px) {
  .bigphoto {
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 55vh;
    max-height: 650px; /*neu */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b313f;
    border-radius: 15px;
    
    padding-bottom: 10px;
  }
}

@media (max-height: 420px) {
  .bigphoto {
    position: relative;
    top: 0;
    left: 0;
    width: 260px;
    height: 50vh;
    max-height: 650px; /*neu */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #0b313f;
    border-radius: 15px;
    
    padding-bottom: 10px;
  }
}

@media (max-height: 395px) {
  .bigphoto {
    position: relative;
    top: 0;
    left: 0;
    width: 230px;
    height: 55vh;
    max-height: 600px; /*neu */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #0b313f;
    border-radius: 15px;
    
    padding-bottom: 10px;
  }
}

@media (max-height: 370px) {
  .bigphoto {
    position: relative;
    top: 0;
    left: 0;
    width: 230px;
    height: 52vh;
    max-height: 500px; /*neu */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #0b313f;
    border-radius: 15px;    
    padding-bottom: 10px;
  }
}

@media (max-width: 380px) {
  .bigphoto {
    position: relative;
    top: 0;
    left: 0;
    width: 270px;
    height: 55vh;
    max-height: 800px; /*neu */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b313f;
    border-radius: 15px;
    
  }
}

@media (max-width: 350px) {
  .bigphoto {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    height: 55vh;
    max-height: 800px; /*neu */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b313f;
    border-radius: 15px;
    
  }
}

.bigphoto_size {
  max-width: 300px;
  max-height: 300px;
  height: auto;
  border: 5px solid white;
  margin-bottom: 50px;
}

@media (max-width: 380px) {
  .bigphoto_size {
    max-width: 230px;
    max-height: 230px;
    height: auto;
    border: 5px solid white;
    margin-bottom: 25px;
  }
}

@media (max-height: 640px) {
  .bigphoto_size {
    max-width: 220px;
    max-height: 220px;
    height: auto;
    border: 5px solid white;
    margin-bottom: 25px;
  }
}

@media (max-height: 530px) {
  .bigphoto_size {
    max-width: 210px;
    max-height: 210px;
    height: auto;
    border: 5px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-height: 480px) and (max-height: 520px) {
  .bigphoto_size {
    max-width: 200px;
    max-height: 200px;
    height: auto;
    border: 5px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-height: 480px) {
  .bigphoto_size {
    max-width: 195px;
    max-height: 195px;
    height: auto;
    border: 5px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (min-height: 396px) and (max-height: 420px) {
  .bigphoto_size {
    max-width: 155px;
    max-height: 155px;
    height: auto;
    border: 5px solid white;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media (max-height: 395px) {
  .bigphoto_size {
    max-width: 140px;
    max-height: 140px;
    height: auto;
    border: 5px solid white;
    margin-top: 15px;
    margin-bottom: 40px;
  }
}

footer {
  position: fixed;
  height: 10vh;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #082129;
  padding: 0;
  text-align: center;
  
}

@media (max-height: 620px) {
  .footer {
    position: fixed;
    height: 8vh;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    padding: 0;
    text-align: center;
    
  }
}

@media (max-height: 470px) {
  .footer {
    position: fixed;
    height: 4vh;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: grey;
    padding: 0;
    text-align: center;
    
  }
}

.footer-content {
  width: 100%;
  height: 15vh;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrowposition_left:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.arrowposition_right:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.xclose {
  font-size: 20px;
  color: whitesmoke;
  font-family: Figtree-Light;
  display: flex;
  position: absolute;
  left: 330px;
  top: 5px;
  
  cursor: default;
}

@media (min-height: 581px) and (max-height: 760px) {
  .xclose {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 330px;
    right: 50px;
    top: 4px;
    
    cursor: default;
  }
}

@media (min-height: 421px) and (max-height: 580px) {
  .xclose {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 275px;
    top: 5px;
    
    cursor: default;
  }
}

@media (min-height: 396px) and (max-height: 420px) {
  .xclose {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 235px;
    top: 5px;
    
    cursor: default;
  }
}

@media (max-height: 395px) {
  .xclose {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 210px;
    top: 5px;
    
    cursor: default;
  }
}

@media (max-width: 380px) {
  .xclose {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 240px;
    top: 5px;
    
    cursor: default;
  }
}

@media (max-width: 365px) {
  .xclose {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 250px;
    right: 70px;
    top: 5px;
    
    cursor: default;
  }
}

@media (max-width: 350px) {
  .xclose {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 230px;
    right: 40px;
    top: 5px;
    
    cursor: default;
  }
}

.xclose:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.picture_name {
  font-size: 20px;
  color: whitesmoke;
  font-family: Figtree-Light;
  display: flex;
  position: absolute;
  left: 20px;
  top: 20px;
  
}

@media (max-width: 365px) {
  .picture_name {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 20px;
    top: 20px;
    
  }
}

@media (max-width: 350px) {
  .picture_name {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 100px;
    top: 10px;
    
  }
}

@media (max-height: 760px) {
  .picture_name {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 150px;
    top: 10px;
    
  }
}

@media (max-height: 640px) {
  .picture_name {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 150px;
    top: 10px;
    
  }
}

@media (max-height: 590px) {
  .picture_name {
    display: none;
  }
}

@media (max-height: 760px) and (min-height: px) and (max-width: 381px) and (min-width: 300px) {
  .picture_name {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 110px;
    top: 10px;
    
  }
}

@media (max-height: 350px) {
  .picture_name {
    display: none;
  }
}

.picture_number {
  font-size: 20px;
  color: whitesmoke;
  font-family: Figtree-Light;
  display: flex;
  position: absolute;
  bottom: 38px;
  right: 100px;
  left: 155px;
  
}

@media (max-height: 760px) {
  .picture_number {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    bottom: 23px;
    right: 80px;
    left: 160px;
    
  }
}

@media (max-height: 640px) {
  .picture_number {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    bottom: 23px;
    right: 160px;
    
  }
}

@media (max-height: 580px) and (min-height: 452px) and (min-width: 320px) {
  .picture_number {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    right: 50px;
    left: 130px;
    
  }
}

@media (max-width: 380px) {
  .picture_number {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    bottom: 23px;
    right: 80px;
    left: 120px;
    
  }
}

@media (max-width: 350px) {
  .picture_number {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    bottom: 23px;
    right: 80px;
    left: 110px;
    
  }
}

@media (max-height: 500px) and (min-height: 0px) and (max-width: 390px) and (min-width: 0px) {
  .picture_number {
    display: none;
  }
}

@media (max-height: 451px) and (min-height: 0px) and (max-width: 1500px) and (min-width: 0px) {
  .picture_number {
    display: none;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.d_none {
  display: none;
}
