@font-face {
  font-family: "Figtree-Light";
  src: url("fonts/Figtree-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  background-color: rgba(0, 0, 0, 1);
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin: 0;
}

form {
  display: flex;
  padding-right: 20px;
}

#header {
  display: flex;
  justify-content: space-between; /* links ↔ rechts */
  align-items: center;            /* vertikal zentrieren */
  padding-left: 5px;
}

.foot_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 25px;
  margin-bottom: 20px;
}

.search_container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 25px;
  margin-right: 20px;
  margin-left: auto;
  padding-right: 25px;
  
}

.sitename {
  padding-top: 10px;
}


header {
  display: flex;
  box-shadow: 1px -4px 10px 0;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #082129;
  
}


h1 {
  color: whitesmoke;
  font-family: Figtree-Light;
}


.logo-group {
  display: flex;          /* hält Bild + Text zusammen */
  align-items: center;
  /* gap: 5px;     */          /*  Abstand zwischen Bild & Text */
}

.logo-pos {
  position: relative;
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 35px;  
  display: flex;
  justify-content: flex-start;
  align-items: left;
}

.logo-size {
  margin-left: 35px;
  width: 64px;
  height: 64px;
  border-radius: 0px;
  padding-bottom: 30px;
}



#pokemon-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      /* gap: 16px; */
      gap: 200px;
      padding: 20px;
    }

.pokemon-card {
      background: white;
      border-radius: 12px;
      padding: 25px;
      /* padding: 12px; */
      text-align: center;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.2s;
      }


.bigphoto {
    position: relative;
    top: 0;
    left: 0;
    width: 360px;
    height: 65vh;
    max-height: 700px; /*neu */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b313f;
    border-radius: 15px;  
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;  
}

    .pokemon-card:hover {
      transform: scale(1.05);
    }

    /* .pokemon-card img {
      width: 150px;
      height: 150px;
    } */

    .pokemon-card-big img {
      width: 200px;
      height: 200px;
    }


    .pokemon-card h3 {
      margin: 8px 0 0;
      text-transform: capitalize;
    }


.bigphoto {
  position: relative;
  top: 0;
  left: 0;
  width: 360px;
  height: 65vh;
  max-height: 700px; /*neu */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b313f;
  border-radius: 15px;
}




.pokemon-card img {
  width: 120px;
  transition: 0.3s ease;
  cursor: pointer;
  /*width: 150px; */
  height: 150px;
}

/* .pokemon-card img.big {
  overflow: hidden;
  width: 250px;
  transform: scale(1.2);
}

 */

 .pokemon-card.big {
  transform: scale(3.2);
  z-index: 10;
}


/* 
@media (max-height: 670px) or (max-width: 640px) {
  .logo-size {
    margin-left: 35px;
    width: 50px;
    height: 50px;
    border-radius: 0px;
  }
}


.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  flex-wrap: wrap;
  margin-top: 100px;
  margin-bottom: 100px;
  
}

.basicposition {  
  display: flex;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.smallphoto {
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
  object-fit: cover;
}

@media (max-height: 720px) {
  .smallphoto:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

.dnone {
  display: none;
}

.bigphoto {
  position: relative;
  top: 0;
  left: 0;
  width: 360px;
  height: 65vh;
  max-height: 700px; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b313f;
  border-radius: 15px;  
}


footer {
  position: fixed;
  height: 10vh;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #082129;
  padding: 0;
  text-align: center;  
}


.footer-content {
  width: 100%;
  height: 15vh;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrowposition_left:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.arrowposition_right:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.xclose {
  font-size: 20px;
  color: whitesmoke;
  font-family: Figtree-Light;
  display: flex;
  position: absolute;
  left: 330px;
  top: 5px;  
  cursor: default;
}



.xclose:hover {
  transform: scale(1.08);
  cursor: pointer;
}

.picture_name {
  font-size: 20px;
  color: whitesmoke;
  font-family: Figtree-Light;
  display: flex;
  position: absolute;
  left: 20px;
  top: 20px;  
}

@media (max-width: 365px) {
  .picture_name {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    left: 20px;
    top: 20px;
    
  }
}

.picture_number {
  font-size: 20px;
  color: whitesmoke;
  font-family: Figtree-Light;
  display: flex;
  position: absolute;
  bottom: 38px;
  right: 100px;
  left: 155px;  
}



@media (max-height: 580px) and (min-height: 452px) and (min-width: 320px) {
  .picture_number {
    font-size: 15px;
    color: whitesmoke;
    font-family: Figtree-Light;
    display: flex;
    position: absolute;
    right: 50px;
    left: 130px;    
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;  
}

.d_none {
  display: none;
}
 */